<div class="container">

  <h1>Payment Form</h1>

  <div class="row">

    <div class="col">
      <div class="form-group">
        <label for="">Receiver Name</label>
        <input class="form-control" type="text" (input)="onChangeName($event.target.value)">
      </div>
    </div>

    <div class="col">
      <label for=""><b>Receiver Name</b></label>
      <p>{{ name | titlecase }}</p>
    </div>

  </div>

  <div class="row">

    <div class="col">
      <div class="form-group">
        <label for="">Payment Date</label>
        <input class="form-control" type="date" (input)="onChangeDate($event.target.value)">
      </div>
    </div>

    <div class="col">
      <label for=""><b>Payment Date</b></label>
      <p>{{ date | date: "MMMM d, y" }}</p>
    </div>

  </div>

  <div class="row">

    <div class="col">
      <div class="form-group">
        <label for="">Amount</label>
        <input class="form-control" type="text" (input)="onChangeAmount($event.target.value)">
      </div>
    </div>

    <div class="col">
      <div class="form-group">
        <label for=""><b>Amount</b></label>
        <p>{{ amount | currency: 'JPY' }}</p>
      </div>
    </div>

  </div>

  <div class="row">

    <div class="col">
      <div class="form-group">
        <label for="">Miles</label>
        <input class="form-control" type="text" (input)="onChangeMiles($event.target.value)">
      </div>
    </div>

    <div class="col">
      <div class="form-group" *ngIf="( miles | convert: 'm') > 10000">
        <label for=""><b>Kilometers</b></label>
        <p>{{ miles | convert: 'km' }}</p>
      </div>
    </div>

  </div>

</div>
